@import 'libs';

.app {
	width: 660px;
	margin: auto;
}

.app-header {
	text-align: center;
	color: rgb(246, 102, 76);
	border-bottom: 1px solid rgb(217, 217, 217);
}

.taster {
	width: 640px;
	margin: 10px auto;
	border: 1px solid rgb(165, 165, 165);
	border-radius: .5em;
	overflow: hidden;
}

.taster-info {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	margin: 15px 20px
}
.taster-names {
	color: rgb(81, 81, 81);

	h2 {
		font-weight: normal;
		margin: 0 0 5px;
	}

	p {
		margin: 0;
	}
}
.taster-stats {
	@include flexbox;
	@include align-items(center);
	color: rgb(207,207, 207);

	i {
		margin-left: 15px;
		margin-right: 5px
	}
}
